<div class="accordion p-3" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Sachin
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body d-flex">
            <div class="w-25">
                <div class="card-p">
                  <img src="../../assets/sachin.jpg" alt="" class="w-100 h-100 p-2">
                </div>
            </div>
            <div class="w-75">
              <p class="p-2">
                Sachin Tendulkar, in full Sachin Ramesh Tendulkar, (born April 24, 1973, Bombay [Mumbai], India), Indian professional cricket player, considered by many to be one of the greatest batsmen of all time. In 2012 he became the first cricketer to score 100 centuries (100 runs in a single innings) in international play.
              </p>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Virat
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body d-flex">
          <div class="w-25">
              <div class="card-p">
                <img src="../../assets/virat.jpg" alt="" class="w-100 h-100 p-2">
              </div>
          </div>
          <div class="w-75">
            <p class="p-2">
              The Young and talented right-handed batsman, Virat Kohli was born on the 5th of November in 1988 in Delhi. His father was Prem Kohli and his mother Saroj Kohli. His father worked as a lawyer and he passed away in December 19th, 2006 due to brain stroke. Virat has an elder brother, Vikash and an elder sister, Bhavna. He had his schooling in St. Sofia School in Paschim Vihar, Delhi.
            </p>
          </div>
      </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Dhonni
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body d-flex">
          <div class="w-25">
              <div class="card-p">
                <img src="../../assets/dhoni.jpg" alt="" class="w-100 h-100 p-2">
              </div>
          </div>
          <div class="w-75">
            <p class="p-2">
              Dhoni made his international debut in 2004. His talent with the bat came to the fore in an innings of 148 runs against Pakistan in his fifth international match. Within a year he joined the India Test team, where he quickly established himself with a century (100 or more runs in a single innings) against Pakistan.
            </p>
          </div>
      </div>
      </div>
    </div>
</div>