<div class="container-fluid w-100 h-100 m-0 p-0 d-flex">
  <aside>
    <ul class="w-100 m-0 p-0 text-center">
      <li routerLinkActive="active"><a routerLink="home" >Home</a></li>
      <li routerLinkActive="active"><a routerLink="covid" >Reports</a></li>
      <li routerLinkActive="active"><a routerLink="aboutus" >About Cricketers</a></li>
      <li routerLinkActive="active"><a routerLink="contactus" >Contact Us</a></li>
    </ul>
  </aside>
  <section class="">
    <router-outlet></router-outlet>
  </section>
</div>