<div class="home-contanier w-100 h-100">
    <h1 class="text-center text-primary">Application Overview</h1>
    <div class="pages-content d-flex w-100">
        <div class="home">
            <h5 class="text-bg-primary text-center">Home Page</h5>
            <div class="content px-2">
                <span>Application have 4 pages.Below mentioned the pages list.</span>
                <ol class="my-3">
                    <li>Home</li>
                    <li>Reports</li>
                    <li>About Cricketers</li>
                    <li>Contact Us</li>
                </ol>
                <span>Each card describes about the page</span>
            </div>
        </div>
        <div class="report">
            <h5 class="text-bg-primary text-center">Reports Page</h5>
            <div class="content px-2">
                <span>Below image tells about reports page.Hover on card to see.</span>
                <div class="gif-control-p w-100 p-2">
                    <img class="w-100 h-100" src="../../assets/report-page-g.gif" alt="">
                </div>

            </div>
        </div>
        <div class="about">
            <h5 class="text-bg-primary text-center">About Cricketers</h5>
            <div class="content px-2">
                <span>Below image tells  about cricketers page.Hover on card to see.</span>
                <div class="gif-control-p w-100 p-2">
                    <img class="w-100 h-100" src="../../assets/about-page.gif" alt="">
                </div>
            </div>
        </div>
        <div class="contact">
            <h5 class="text-bg-primary text-center">Contact Us Page</h5>
            <div class="content px-2">
                <span>Below image tells about contact us page</span>
                <div class="gif-control-p w-100 p-2">
                    <img class="w-100 h-100" src="../../assets/contactus.gif" alt="">
                </div>

            </div>
        </div>
    </div>
</div>